@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Unbounded', sans-serif; 
}

html {
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth; 
  
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes canvasFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes popup-enter {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-popup-enter {
  animation: popup-enter 0.3s ease-out forwards;
}

